<body>
    <!-- hero -->
    <section class="hero mt-0" id="landing" >
        <div class="container">
            <div class="hero__text container--pall mt-5">
                <h3>About iReporter</h3>
                <p>
                Lorem ipsum dolor, sit amet consecteturm repudiandae.
                </p>
                <a href="#contact" class="button hero__cta">Write a report</a>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <section class="feature">
        <div class="feature__content container container--pall">
            <div class="feature__intro">
                <h2>Publish your red flags</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vero dolorem natus fugiat sapiente vitae quia? Dolorum quasi vitae unde doloribus nam quaerat animi, esse, temporibus aliquid adipisci error maxime.
                </p>
            </div>

            <div class="feature__grid">
                <div class="feature__item">
                    <div class="feature__icon">
                        <img src="assets/whistle.svg" />
                    </div>
                    <div class="feature__title">step 1</div>
                    <div class="feature__description">
                        get the app
                    </div>
                </div>

                <div class="feature__item">
                    <div class="feature__icon">
                        <img src="assets/whistle.svg" />
                    </div>
                <div class="feature__title">step 2</div>
                <div class="feature__description">
                    publish a report
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__icon">
                    <img src="assets/whistle.svg" />
                </div>
                <div class="feature__title">Step 3</div>
                <div class="feature__description">
                    review the red flag
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__icon">
                    <img src="assets/whistle.svg" />
                </div>
                <div class="feature__title">step 4</div>
                <div class="feature__description">
                    mark intervention as complete
                </div>
            </div>
        </div>
        </div>
    </section>

</body>