<body>
    <!-- hero -->
    <section class="hero mt-0" id="landing" >
        <div class="container">
            <div class="hero__text container--pall mt-5">
                <h3>About iReporter</h3>
                <p>
                Lorem ipsum dolor, sit amet consecteturm repudiandae.
                </p>
                <a href="#contact" class="button hero__cta">Write a report</a>
            </div>
        </div>
    </section>
    <!-- end of hero -->

    <!-- feature -->
    <section class="feature">
        <div class="feature__content container container--pall">
            <div class="feature__intro">
                <h2>Publish your red flags</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi vero dolorem natus fugiat sapiente vitae quia? Dolorum quasi vitae unde doloribus nam quaerat animi, esse, temporibus aliquid adipisci error maxime.
                </p>
            </div>

            <div class="feature__grid">
                <div class="feature__item">
                    <div class="feature__icon">
                        <img src="assets/whistle.svg" />
                    </div>
                    <div class="feature__title">step 1</div>
                    <div class="feature__description">
                        get the app
                    </div>
                </div>

                <div class="feature__item">
                    <div class="feature__icon">
                        <img src="assets/whistle.svg" />
                    </div>
                <div class="feature__title">step 2</div>
                <div class="feature__description">
                    publish a report
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__icon">
                    <img src="assets/whistle.svg" />
                </div>
                <div class="feature__title">Step 3</div>
                <div class="feature__description">
                    review the red flag
                </div>
            </div>
            <div class="feature__item">
                <div class="feature__icon">
                    <img src="assets/whistle.svg" />
                </div>
                <div class="feature__title">step 4</div>
                <div class="feature__description">
                    mark intervention as complete
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- end of feature -->

    <!-- article -->
    <section class="articles">
        <div class="article__content container container--pall">
        <h2>Latest Articles</h2>

        <div class="article__grid">
            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Kibe Adnan</div>
                <div class="article__title">
                    City kanjo scam                
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit amet consectetur aque commodi animi saepe eligendi ratione quod volu................
                </div>
            </div>
            </a>

            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Ian Koech</div>
                <div class="article__title">
                    Wheel barrow is a lie
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit, amet consectetur adi at esse, accusamus............................
                </div>
            </div>
            </a>

            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Lilian Mwaura</div>
                <div class="article__title">
                The 6000 promise is a big lie
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit amet, consectetur adictus quod quisquam totam nam pariat....
                </div>
            </div>
            </a>

            <a href="#" class="article__item">
            <div
                class="article__image"
                style="background-image: url('/assets/anticorrupt.jpg')"
            ></div>
            <div class="article__text">
                <div class="article__author">By Adeline Makokha</div>
                <div class="article__title">
                The billion shilling scam exposed with evidence
                </div>
                <div class="article__description">
                Lorem ipsum dolor sit amet consectetur adiquia dignissimos unde, consequatur id, tempor...
                </div>
            </div>
            </a>
        </div>
        </div>
    </section>
    <!-- end of article -->
</body>